{% extends 'base.html' %}

{% block title %}
<title>Про нас</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>Веземо чисту воду, з любов'ю до вас</h1>
    <p>Піклуємося про ваше здоров'я та економимо ваш час. Подумавши про воду, згадайте про нас</p>
    <p>Наша вода - це не просто вода з під "крану", яку очистили і розлили по бутлям. 
        Ми беремо воду зі свердловини
        глибинию понад 150 метрів, 
        ретельно очищуємо їі за допомогою найсучаснішого обладнання 
        і доставляємо Вам.
    </p>
</div>
{% endblock %}


